.watch_area{
    height: 666px;
    background: url(https://georgebrata.ro/alege-un-website/003-watch-master/img/header-bg.png) center;
    background-size: 100%;
}
.header{
    /* border: red 1px solid; */
    height: 50px;
}
.container{
    /* border: tomato 1px solid; */
    height: 50px;
    display: flex;
}
.logo{
    /* border: tan 1px solid; */
    width: 30%;
    height: 50px;
    line-height: 50px;
    align-items: center;
}
.menu-nav{
    width: 70%;
}
.menu-nav a{
    padding: 0 8px 0px 8px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    outline: none;
}
.nav-items{
    list-style: none;
}
.nav-items li{
    line-height: 50px;
    align-items: center;
    float: right;
    width: 70px;
}
.nav-items li.UF{
    float: right;
    width: 135px;
}
.menu-nav{
    margin-left: 30px;
}
.banner-content{
    margin: 0 auto;
    width: 83%;
    height: 300px;
    margin-top:150px;
}
.text-lay{
    text-align: center;
}
.text-lay h5{
    color: #fff;
    letter-spacing: 3px;
    text-transform: uppercase !important;
}
.text-lay h1{
    color: #fff;
    font-size: 72px;
    font-weight: 700;
    line-height: 1em;
    margin-top: 20px;
}
.primary-btn{
    line-height: 36px;
    padding-left: 30px;
    padding-right: 60px;
    border-radius: 25px;
    border: none;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
}
.primary-btn {
    margin-left: 44%;
    background: #fff;
    border: 1px solid transparent;
    color: #222;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 50px;
}
.text-uppercase{
    text-transform: uppercase !important;
}
.align-items-center {
    align-items: center !important;
    justify-content: center !important;
}
.video_area{
    /* border: red 1px solid; */
    margin-top: 400px;
    height: 350px;
}
.video_left h6{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #235ee7;
    font-size: 12px;
    font-weight: 300;
}
.BN{
    width: 100%;
}
.video_left h1{
    padding-top: 10px;
    padding-bottom: 20px;
    color: #222222;
    line-height: 1.2em !important;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 600;
}
.Wh{
    color: #000;
    font-weight: 400;
}
.Li{
    color: #777777;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
}
.get_btn{
    text-align: center;
    background-color: black;
    line-height: 36px;
    padding-left: 30px;
    padding-right: 60px;
    border-radius: 25px;
    border: none;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
}
.top-course-area {
    background-color: #f9f9ff;
    /* border: red 1px solid; */
    height: 900px;
}
.home_area{
    height: auto;
    /* border: 1px red solid; */
    
}
.service_area{
    /* border: 1px red solid; */
    height: 700px;
}
.text_center{
    /* border: 1px red solid; */
    height: 200px;
    margin-top: 100px;
}

.text_Courses h1{
    font-family: "Poppins", sans-serif;
    color: #222222;
    line-height: 1.2em !important;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 600;
    text-align: center;
}
.text_Courses p{
    color: #777777;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
    text-align: center;
    margin-top: 20px;
}
.img_c1 img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.text_Courses_bottom{
    margin-top: 70px;
}
.single_img{
    height: 50px;
}
.single-course h4{
    font-family: "Poppins", sans-serif;
    color: #222222;
    line-height: 1.2em !important;
    font-weight: 600;
}
.single-course p{
    color: #777777;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
}
.no-padding{
    padding-left: 0;
}
.home_area img{
    max-width: 100%;
    height: auto;
}
.right-area{
    padding-right: 20%;
    padding-left: 4%;
    margin-top: 20%;
}
.right-area h1{
    font-family: "Poppins", sans-serif;
    color: #222222;
    line-height: 1.2em !important;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 600;
}
.right-area  p{
    margin-top: 20px;
    color: #777777;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
}
.card{
    background-color: #f9f9ff;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.card span{
    font-family: "Poppins", sans-serif;
    color: #222222;
    line-height: 1.2em !important;
    font-weight: 600;
}
.card p{
    margin-top: 15px;
    color: #777777;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
}
.card_area{
    margin-top: 65px;
}
.black_area{
    background-color: #04091e;
    height: 700px;
}
.black_Courses h1{
    font-family: "Poppins", sans-serif;
    color: #fff;
    line-height: 1.2em !important;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 600;
    text-align: center;
}
.watch_black{
    height: 200px;
    margin-top: 100px;
}
.black_Courses p{
    color: #777777;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
    text-align: center;
    margin-top: 20px;
}
.card_black{
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 30px;
    transition: all 0.3s ease 0s;
}
.card_black img{
    max-width: 100%;
    height: auto;
    padding: 40px 0px;
}
.black_card_bottom{
    background-color: #f9f9ff;
    padding: 20px 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.black_card_bottom h4{
    font-family: "Poppins", sans-serif;
    color: #222222;
    line-height: 1.2em !important;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 600;
}
.black_card_bottom h6{
    color: #235ee7;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
}
.black-unique-product{
    background-color: #222;
    color: #fff;
    border: 1px solid #fff; 
    transition: all 0.3s ease 0s;
}
.card-2{
    background-color: #f9f9ff;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-align: center;
}
.card-2 span{
    font-family: "Poppins", sans-serif;
    color: #222222;
    line-height: 1.2em !important;
    font-weight: 600;
}
.card-2 p{
    margin-top: 15px;
    color: #777777;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
}
.que_area{
    background: url(/img/faq-bg.jpg) center;
    height: 540px;
    background-size: 100%;
}
.question_card{
    margin-top: 20px;
    height: 50px;
    width: 50%;
    padding: 5px;
    border-radius: 0 !important;
    border-bottom: none;
    background-image: -webkit-linear-gradient(0deg, #235ee7 0%, #4ae7fa 100%);
}
.question_card span{
    color: #fff;
    line-height: 40px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 15px;
}
.question_area_card{
    margin-top: 60px;
}
.black_area_2{
    background-color: #04091e;
    height: 400px;
}
.buttom_left{
    margin-top: 100px;
}
.buttom_left h4{
    color: #fff;
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 600;
}
.buttom_left span{
    color: #777777;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
}
.buttom_left p{
    color: #777777;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
    padding-top: 20px;
}